@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

body {
  background-color: #1f1f1f;
}

h1,h2,h3,h4,h5,h6,p,input{
  font-family: 'sahel', serif;
}

#siteTitle {
  text-align: center;
  font-weight: bold;
  color: #fefefe;
  margin-top: 1em;
  margin-bottom: 1em;
}

.rtl {
  direction: rtl;
  text-align: right;
  color: #fefefe;
}

.centr {
  direction: rtl;
  text-align: center;
  color: #fcfcfc;
}

.red {
  color: #F22613;
}
